<%- include('partials/head', { pageTitle: title }) %>

<div class="column">
  <h1><%= title %></h1>
  <p class="standfirst"><%= message %></p>
  <p><a href="/">← Home</a></p>
</div>

<%- include('partials/foot') %>
